* {
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    margin-top: 33px;
    margin-bottom: 33px;
}

.starting {
    background-color: white;
}
.starting-text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-top: 40px;
}
.denisnovik-img{
    display: flex;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 100%;
    margin-bottom: 105px;
}
.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}
.main-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    text-align: center;
}
.language {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
    margin-bottom: 25px;
}
.aboutme {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 506px;
}
.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    text-align: center;
    color: #070707;
    padding-top: 120px;
    margin-bottom: 50px;
}
.grid-item-gray{
    background-color:#F6F6F6 ;
}

.program-blocks{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.program-block {
    display: flex;
    width: 166.46px;
    height: 206.27px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 83px;
}
.program-icons{
    margin-bottom: 23px;
}
.stars{
    margin-top: 40px;
    margin-bottom: 110px;
}
.programs {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-img{
    display: flex;
    justify-self: center;
    align-self: center;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}
.img_description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin-bottom: 100px;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    margin-bottom: 100px;
}

button{
    background: #070707;
    width: 180px;
    height: 42px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 85px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    transition: 200ms;
}

button:hover{
    background: #FFFFFF;
    color:#070707;
    transition: 200ms;
}

.links-icon{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 45px;
}